<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Branch Out Leaderboards</title>
  <link rel="stylesheet" type="text/css" href="/assets/landing.css">
</head>
<body>
  <%= render "layouts/nav" %>

  <p id="notice"><%= notice %></p>

  <div class="container">
    <div class="row">        
      <div class="col-md-12">
        <h1>Company Board</h1>
        <div class="table-responsive">                
          <table id="mytable" class="table table-bordred table-striped table-hover">
            <thead>
              <th>Company name</th>
              <th>NeuroPoints</th>
            </thead>

            <tbody>
              <% @companies.each do |company| %>
                <tr>
                  <td><%= link_to company[0], leaderboard_path(company[0])  %></td>
                  <td><%= company[1] %></td>
                </tr>    
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">        
      <div class="col-md-12">
        <h1>People Board</h1>
        <div class="table-responsive">                
          <table id="mytable" class="table table-bordred table-striped table-hover">
            <thead>
              <th>First Name</th>
              <th>Last Name</th>
              <th>NeuroPoints</th>
            </thead>

            <tbody>
              <% @people.each do |person| %>
                <tr>
                  <td><%= person['first_name'] %></td>
                  <td><%= person['last_name'] %></td>
                  <td><%= person['capital_amount_in_cents'] %></td>
                </tr>    
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

